.author-page {
    width: 500px;
    margin: auto;
    .photo {
        max-width: 100%;
    }

    h2 {
        color: antiquewhite;
        background-color: $header-text-color;
        width: fit-content;
        padding: 0 2%;
    }

    .author-bio {
        background-color: antiquewhite;
        padding: $text-content-padding;
        margin-top: 2%;
    }
}

@media screen and (max-width: 555px) {
    .author-page {
        width: auto;
    }
}
