.blog-post {
    width: 80vw;
    max-width: 1000px;
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    padding: 10px;
    margin: auto;

    h2 {
        text-align: center;
        color: $header-text-color;
        margin-bottom: 0;
    }
    
    ul {
        font-family: $body-font;
        margin-left: 5vw;
        font-size: 0.9em;
        padding-right: 5%;
    }

    .date {
        font-size: .9em;
        text-align: center;
    }

    img {
        display: inline-block;
    }
    

    .content {
        display: flex;
        padding: 1em;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        figure {

            img {
                display: inline-block;
                width: 600px;

                @media screen and (max-width: $mobile-screen) and (min-width: 300px) {
                    width: 80vw;
                }
            }
        }

        .main-image {
            width: 600px;
            display: inline-block;
        }

        @media screen and (max-width: $mobile-screen) and (min-width: 300px) {

            .main-image {
                width: 80vw;
            }

            p {
                width: 75vw;
                font-size: 0.9em;
            }
        }
    }
    .author-footer {
        padding: 10px;
        border-top: solid 1px $header-text-color;
        align-content: flex-end;
        position: relative;
    
        .author-holder {
            margin-left: auto; 
            margin-right: 0;
            max-width: fit-content;
        }
    
        .photo {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    
        h4 {
            margin: 0;
            font-family: $body-font;
            text-align: center;
            text-align: -webkit-center;
            color: #465348;
        }
    }

}