.footer {
    height: 10vh;
    background-image: url('./images/waves.svg');
    background-color: green;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
