.post-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;

    .post-grid-child-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .blog-post-card {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        transition: all .2s ease-out;
        border: solid 1px black;
        margin: 10px 10px 10px 10px;
        padding: 5px 5px 15px 5px;
        text-align: center;
        background-color: antiquewhite;
        max-width: 300px;

        -webkit-animation: fade-in 2s;
        -moz-animation: fade-in 2s;
         -ms-animation: fade-in 2s;
          -o-animation: fade-in 2s;
             animation: fade-in 2s;

        a {
            color: $header-text-color;
            font-size: .7em;
            text-decoration: none;
        }

        img {
            width: 300px;
            height: 300px;
            max-width: 400px;
            object-fit: cover;
        }

        .date {
            font-family: "Share Tech Mono";
            font-size: 1.5em;
        }

        &:hover {
            transform: translateY(-10px);
            transition: ease-in-out .3s;
        }
    }
}

@keyframes fade-in {
    from { 
        opacity: 0;
        transform: translateY(-5%);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes fade-in {
    from { 
        opacity: 0;
        transform: translateY(-5%);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}
@-moz-keyframes fade-in {
    from { 
        opacity: 0;
        transform: translateY(-5%);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}
@-ms-keyframes fade-in {
    from { 
        opacity: 0;
        transform: translateY(-5%);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}
@-o-keyframes fade-in {
    from { 
        opacity: 0;
        transform: translateY(-5%);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}