@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Urbanist:wght@300&display=swap');

$main-font: "Rubik", sans-serif;
$body-font: "Kaisei Tokumin", serif;
$body-font-size: 0.9em;
$header-text-color: #465348;
$bg-color: #FFC58F;
$link-color: #392A2A;
$mobile-screen: 700px;
$text-content-padding: 5%;
$card-fade-in: fade-in 2s;
$hover-card-effect: translateY(-10px);
